
  @import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

	#text{

		height: 25px;
		border-radius: 5px;
		padding: 4px;
		border: solid thin #aaa;
		width: 100%;
	}

	#button{

		padding: 10px;
		width: 100px;
		color: white;
		background-color: lightblue;
		border: none;
	}
    .box{
    background-color: rgb(109, 104, 200);
    /* background: none; */
    margin: auto;
    width: 85vh;
    padding: 5vh;
    border-radius: 1vh;
    box-shadow: 10px 10px 10px 10px rgb(153, 129, 176);
    font-family: 'Manrope', sans-serif;
    /* color: white; */
    }
    .heading{
        font-size: 6vh;
        color: rgb(6, 6, 6);
        text-align: center;
        
    }
    .container{
        display: flex;
    }
    .container1{
        padding-top: 15vh;
        padding-right: 10vh;
    }
    .container2{
        margin-top: 2vh;

    }
    #button{
        background-color: rgb(41, 23, 111);
    }
    .inputbox{
        height: 49vh;
        width: 35vh;
    }
    /* body{
        background:url('https://images.unsplash.com/photo-1608754482805-6f630357358b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8c3BhY2UlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
        
    } */