<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style type="text/css">
  @import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

	#text{

		height: 25px;
		border-radius: 5px;
		padding: 4px;
		border: solid thin #aaa;
		width: 100%;
	}

	#button{

		padding: 10px;
		width: 100px;
		color: white;
		background-color: lightblue;
		border: none;
	}
    .box{
    background-color: rgb(109, 104, 200);
    /* background: none; */
    margin: auto;
    width: 85vh;
    padding: 5vh;
    border-radius: 1vh;
    box-shadow: 10px 10px 10px 10px rgb(153, 129, 176);
    font-family: 'Manrope', sans-serif;
    /* color: white; */
    }
    .heading{
        font-size: 6vh;
        color: rgb(6, 6, 6);
        text-align: center;
        
    }
    .container{
        display: flex;
    }
    .container1{
        padding-top: 15vh;
        padding-right: 10vh;
    }
    .container2{
        margin-top: 2vh;

    }
    #button{
        background-color: rgb(41, 23, 111);
    }
    .inputbox{
        height: 49vh;
        width: 35vh;
    }
    /* body{
        background:url('https://images.unsplash.com/photo-1608754482805-6f630357358b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8c3BhY2UlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
        
    } */
</style>

<div class="box">


    <div class="heading" ><b>Welcome to Chat Club</b></div>
    <div class="container">
    <div class="container1">
        <img class="inputbox" src="image1.jpg">
    </div>

    <div class="container2">
    <form action="/signup" method="POST">
  <label for="college_name">College Name</label>
  <input type="text" name="college_name" required>

  <label for="club_name">Club Name</label>
  <input type="text" name="club_name" required>

  <label for="email_id">Email</label>
  <input type="email" name="email_id" required>

  <label for="password1">Password</label>
  <input type="password" name="password1" required>

  <label for="password2">Confirm Password</label>
  <input type="password" name="password2" required>

  <button type="submit">Sign Up</button>
</form>







</div>
</body>
</html>